
body {
    /* background: #999; */
    background: #808090;
    color: white;
    text-align: center;
}

#holder {
    border-color: 2px solid white;
}

#cardcanvas {
    margin: 20px auto;
}

#testcanvas {
    margin: 20px auto;
}

#timercanvas {
    margin: 0 auto;
}

#instructions {
    text-align: center;
    width: 550px;
    margin: 0 auto;
}

input {
    margin: 20px 50px;
}
